<!DOCTYPE html>
<html lang="en" ng-app="AnimateApp">

<head>
    <meta charset="UTF-8">
    <title>ng Animate</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak ng-controller="AnimateCtrl as ctrl">
    <!--<div>{{ctrl.helloworld}} </div>-->
    <div class="container">
        <div class="box rotate"></div>
        <br>
        <input type="checkbox" ng-model="ctrl.boxClass" /> Box
        <input type="checkbox" ng-model="ctrl.circleClass" /> Circle
        <input type="checkbox" ng-model="ctrl.triangleClass" ng-click="ctrl.disableBox()" /> Triangle
        <div class="rotate" ng-class="{'box': ctrl.boxClass, 'circle': ctrl.circleClass, 'triangle': ctrl.triangleClass}"></div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/animate.controller.js"></script>
</body>

</html>